<main>
  <div id="mainContainer">
    <form #startGameForm="ngForm" (ngSubmit)="onSubmit(startGameForm)">
      <h2>Welcome Trainer!</h2>
      <label for="name">Enter your name to begin!</label>
      <input
        type="text"
        placeholder="Your name here!"
        name="userName"
        id="name"
        [(ngModel)]="userName"
      />
      <div id="gradeSelectionSection">
        <h3>Select your grade level</h3>
        <div class="gradeSelectionInputs">
          <div id="gradeRadioandLabel">
            <input
              id="grade_3"
              type="radio"
              name="gradeLevel"
              value="grade_3"
              [(ngModel)]="gradeLevel"
            /><label for="grade_3" id="gradeChoiceLabel">3rd</label>
          </div>
          <div id="gradeRadioandLabel">
            <input
              type="radio"
              id="grade_4"
              name="gradeLevel"
              value="grade_4"
              [(ngModel)]="gradeLevel"
            /><label for="grade_4" id="gradeChoiceLabel">4th</label>
          </div>
          <div id="gradeRadioandLabel">
            <input
              id="grade_5"
              type="radio"
              name="gradeLevel"
              value="grade_5"
              [(ngModel)]="gradeLevel"              
            /><label id="gradeChoiceLabel" for="grade_5">5th</label>
          </div>
        </div>
      </div>
      <button id="goButton" [disabled]="!userName || !gradeLevel">Let's go!</button>
    </form>
  </div>
</main>
