main {
  background-image: url('../../assets/pikachu-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#mainContainer {
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px 0px #000000;
  padding: 20px;
  margin: 30px 0;
  width: 70%;
  height: 30%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input[id=name] {
    margin: 5px;
    padding: 5px;
    width: 70%;
    align-self: center;
}

input[id=name]:focus {
    background: rgba(222, 73, 65, 0.438);
}

#gradeSelectionSection {
    margin: 20px 0;
}

h2,
h3 {
  margin: 0 0 5px 0;
}

#goButton {
    align-self: center;
    width: 100px;
    padding: 5px 10px;
    margin: 5px;
}

/* media queries */
@media only screen and (min-width: 1000px) {
  main {
    /* background-size: contain; */
    background-position: left bottom;
    align-items: flex-end;
    padding: 40px;
  }

  #mainContainer {
    width: 40%;
    position: relative;
    right: 70px;
  }

}
