main {
  background-image: url('../../assets/pikachu-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#mainContainer {
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px 0px #000000;
  padding: 15px;
  margin: 30px 0;
  width: 70%;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input[id=name] {
  margin: 5px;
  padding: 5px;
  width: 70%;
  align-self: center;
}

#gradeSelectionSection {
  margin: 20px 0;
}

.gradeSelectionInputs {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

input[type=radio] {
  display: none;
}

#gradeRadioandLabel label {
  padding: 5px 20px;
  margin: 5px;
  background: gray;
}

#gradeRadioandLabel label:hover {
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
}

input[type=radio]:checked+#gradeChoiceLabel {
  background: #DE4841;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
}


h2,
h3 {
  margin: 0 0 5px 0;
}

#goButton {
  align-self: center;
  width: 100px;
  padding: 5px 10px;
  margin: 5px 0 10px 0;
}

/* media queries */
@media only screen and (min-width: 790px) {
  main {
    background-position: left bottom;
    align-items: flex-end;
    padding: 30px;
  }

  #mainContainer {
    width: 35%;
    position: relative;
    right: 40px;
  }

}
