<main>
  <div class="heading-container">
    <h1>Great job, {{ results.username }}!</h1>
    <h2>You caught {{ results.score }} Pokemon!</h2>
    <button routerLink="/scores">Scoreboard</button>
  </div>

  <section id="pokemon-card-container">
    <div
      class="pokemon-tiles"
      *ngFor="let pokemon of caughtPokemon; index as i"
    >
      <img src="{{ pokemon.sprites.front_default }}" />
      <div id="pokemonInfo">
        <p>#{{ pokemon.id }}</p>
        <p>{{ pokemon.name }}</p>
      </div>
    </div>
  </section>
</main>