main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, -0.8), rgba(0, 0, 0, -0.8)),
    url("../../assets/ocean.png");
  background-size: cover;
  padding-top: 30px;
  background-attachment: fixed;
  background-position: center bottom;
}

.heading-container {
  margin-top: 40px;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.74);
  box-shadow: 0px 0px 10px 0px #000000;
  width: 70%;
  border-radius: 10px;
}

.heading-container p {
  margin: 5px 0;
  text-align: center;
  padding: 0 10px;
}

#scoreboardButton {
  background-color: #707070;
}

button {
  padding: 10px 20px;
  margin: 20px;
  width: 80%;
  align-self: center;
  background: #f4e393;
}

button:hover {
  background: #707070;
}

#pokemon-card-container {
  width: 95%;
}

.pokemon-tiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.74);
  box-shadow: 0px 0px 10px 0px #000000;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  width: 40%;
}


#pokemonInfo,
#questionAnswered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pokemonInfo p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

#questionAnswered {
  padding: 5px 10px;
}

#questionAnswered p {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

#question {
  font-weight: bold;
  margin-bottom: 5px;
}

section {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h2 {
  margin: 2px;
  text-align: center;
}

h1 {
  font-size: 25px;
}

.review-section-title {
  font-size: 20px;
}

#bottomBox {
  width: 100%;
  background: #de4841;
}

#questionsToStudy {
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 20px;
  margin: 30px 0;
  box-shadow: 0px 0px 10px 0px #000000;
}

#incorrectQuestionDiv {
  margin: 5px;
  width: 75%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

#incorrectQuestionDiv h1 {
  margin: 10px 0;
}

#incorrectQuestionDiv p {
  margin: 2px
}

#answerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#show-or-hide {
  color: grey;
  font-size: 12px;
}

#show-or-hide:hover {
  color: #de4841;
}

#answer {
  padding: 5px;
  width: 50%;
}

@media only screen and (min-width: 650px) {
  .pokemon-tiles {
    width: 35%;
  }
}

@media only screen and (min-width: 820px) {
  .heading-container {
    width: 50%;
  }

  #pokemon-card-container {
    width: 90%;
  }

  .pokemon-tiles {
    width: 20%;
  }

  #questionsToStudy {
    width: 50%;
  }
}
