<main>
  <div class="heading-container">
    <h1 class="game-font">Great job, {{ results.username }}!</h1>
    <h2>You caught {{ results.score }} Pokemon!</h2>
    <p>
      Click the "show question" button to see what you learned during your
      adventure!
    </p>
    <p>
      Missed out on a few Pokemon? Well, practice makes perfect! Scroll down to
      quiz yourself on the questions you struggled with!
    </p>
    <button routerLink="/scores" id="scoreboardButton">
      Check out the scoreboard!
    </button>
  </div>

  <section id="pokemon-card-container">
    <div
      class="pokemon-tiles"
      *ngFor="let pokemon of caughtPokemon; index as i"
    >
      <img
        src="{{ pokemon.sprites.front_default }}"
        alt="Image of {{ pokemon.name }}"
      />
      <div id="container">
        <div id="pokemonInfo" *ngIf="!pokemon.showQuestion" @fadeIn>
          <p>#{{ pokemon.id }}</p>
          <p>{{ pokemon.name }}</p>
        </div>
        <div id="questionAnswered" *ngIf="pokemon.showQuestion" @fadeIn>
          <p id="question">{{ pokemon.question.question_name }}</p>
          <p>{{ pokemon.question.answer }}</p>
        </div>
      </div>
      <button (click)="toggleQuestion(i)">
        {{ pokemon.showQuestion ? "Show details!" : "Show question!" }}
      </button>
    </div>
  </section>
  <section id="bottomBox">
    <div id="questionsToStudy">
      <h2 class="review-section-title game-font">
        Questions you should continue to study!
      </h2>
      <div
        *ngFor="let question of answeredIncorrectly; index as i"
        id="incorrectQuestionDiv"
      >
        <p id="question">{{ question.question_name }}</p>
        <div id="answerContainer">
          <p *ngIf="question.showCorrectAnswer" id="answer" @fadeIn>
            {{ question.answer }}
          </p>
          <p (click)="toggleCorrectAnswer(i)" id="show-or-hide">
            {{ question.showCorrectAnswer ? "Hide Answer" : "Show Answer" }}
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
