main {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, -0.8), rgba(0, 0, 0, -0.8)),
    url("../../assets/ocean.png");
  background-size: cover;
  padding-top: 30px;
  background-attachment: fixed;
  background-position: center bottom;
}

.heading-container {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.pokemon-tiles {
  background-color: rgba(255, 255, 255, 0.74);
  box-shadow: 0px 0px 10px 0px #000000;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
}

section {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}
