<main id="pageContainer">
  <img id="pikachu-head" src="../assets/pikachu-head-png-2.png" />
  <img
    id="pikabularyLogo"
    alt="Logo image for Pikabulary, a Pokemon-themed vocabulary game for 3rd through 5th graders"
    routerLink="/home"
    src="./../assets/pikabulary.png"
  />
  <header>
    <nav>
      <a routerLinkActive="active" routerLink="/home">Home</a>
      <a routerLinkActive="active" routerLink="/scores">Scores</a>
    </nav>
  </header>

  <div
    id="route-container"
    [@routeAnimations]="
      o && o.activatedRouteData && o.activatedRouteData['animation']
    "
  >
    <router-outlet #o="outlet"></router-outlet>
  </div>
</main>
