main {
  position: relative;
}

header {

  background: #DE4841;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#pikabularyLogo {
  position: absolute;
  height: 80px;
  transform: rotate(-2deg);
}

nav a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  color: #F4E393;
  font-weight: lighter;
}

nav a:hover {
  font-weight: normal;
}

header .active {
  font-weight: normal;
}
