header {
  background: #de4841;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#pikachu-head {
  position: absolute;
  height: 30px;
  left: 265px;
  top: 27px;
  opacity: 0.7;
  -webkit-animation: bounce 0.75s infinite;
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 5px);
  }

  75% {
    transform: scale(1, 1.1) translate(0px, -25px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

#pikabularyLogo {
  position: absolute;
  height: 65px;
  transform: rotate(-2deg);
  cursor: pointer;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  color: #f4e393;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}

nav a:hover {
  text-shadow: 1px 0px 10px white;
}

header .active {
  font-weight: normal;
  text-shadow: 1px 0px 10px white;
}

.router-container {
  position: relative;
}

@media only screen and (max-width: 500px) {
  #pikabularyLogo {
    height: 50px;
    top: 5px;
  }
}

@media only screen and (min-width: 726px) {
  nav a {
    font-size: 20px;
    padding: 5px 15px;
  }
}
