<main>
  <div id="scoreboardContainer">
    <div id="scoreList">
      <img id="scoreboardTitle" src="../../assets/Scoreboard.png" />
      <div id="buttons">
        <button
          [ngClass]="{ selected: grade3Selected }"
          id="gradeButtons"
          (click)="clickForGrade3()"
        >
          Grade 3
        </button>
        <button
          [ngClass]="{ selected: grade4Selected }"
          id="gradeButtons"
          (click)="clickForGrade4()"
        >
          Grade 4
        </button>
        <button
          [ngClass]="{ selected: grade5Selected }"
          id="gradeButtons"
          (click)="clickForGrade5()"
        >
          Grade 5
        </button>
      </div>
      <div id="userScore" *ngFor="let score of scoreboard">
        <p>{{ score.username }}</p>
        <p>{{ score.score }}</p>
      </div>
    </div>
    <button routerLink="/home">Play again!</button>
  </div>
</main>
