main {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreboardTitle {
    color: white;
}

#scoreList {
    background-color: white;
    padding: 2px;
}

#userScore:nth-child(even) {
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

#userScore:nth-child(odd) {
    background-color: grey;
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

p {
    color: black;
}

button {
    color: black;
    background-color: yellow;
    width: 100%;
    height: 30px;
    margin-top: 15px;
}

@media only screen and (min-width: 750px) {
    main { 
        background-image: url("https://wallpapercave.com/wp/cqhO8rQ.jpg");
        background-size: cover;
        /* background-repeat: no-repeat; */
    }
    scoreList {
        
    } 
    button {
        color: white;
        background-color: blue;
    }
}