main {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

#scoreList {
    background-color: white;
}

#userScore {
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
}

p {
    color: black;
}

button {
    color: black;
    background-color: yellow;
    width: 100%;
}