main {
  background-image: url('../../assets/pikachu-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainContainer {
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 10px 0px #000000;
  padding: 20px 15px;
  margin: 30px 0;
  width: 80%;
  border-radius: 10px;
}

#welcomeHeader h2,
h3 {
  margin: 5px 0 10px 0;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
  line-height: 1.2em;
}

#welcomeHeader {
  margin-bottom: 20px;
}

#instruction h3,
p {
  margin: 0;
}

#instructions h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

#instructions {
  padding: 0 10px;
}

#letsGoButton {
  align-self: center;
  width: 60%;
  padding: 10px 5px;
  margin: 15px 0 10px 0;
}

/* media queries */
@media only screen and (min-width: 790px) {
  main {
    background-position: left bottom;
    align-items: flex-end;
    padding: 40px;
  }

  #mainContainer {
    width: 50%;
    position: relative;
    right: 10px;
    font-size: 1.12em;
  }
}

@media only screen and (min-width: 1000px) {
  #mainContainer {
    width: 35%;
    right: 80px;
  }
}
