<h1>Quiz Page</h1>
<div>
    <p>Number of Pokemon caught: {{ numberCorrect }}</p>
    <p>Number wrong: {{ numberWrong }}</p>
</div>
<div id="questionContainer">
  <form #questionForm="ngForm" (ngSubmit)="checkAnswer(questionForm, index)">
    <h3>{{ questionList[index].question_name }}</h3>
    <label><input type="radio" name="choice" value="{{ questionList[index].choice_1 }}" ngModel/>{{ questionList[index].choice_1 }}</label>
    <label><input type="radio" name="choice" value="{{ questionList[index].choice_2 }}" ngModel/>{{ questionList[index].choice_2 }}</label>
    <label><input type="radio" name="choice" value="{{ questionList[index].choice_3 }}" ngModel/>{{ questionList[index].choice_3 }}</label>
    <label><input type="radio" name="choice" value="{{ questionList[index].choice_4 }}" ngModel/>{{ questionList[index].choice_4 }}</label>
    <button>Throw Pokeball!</button>
  </form>
</div>
<div id="pokemonImageContainer">
  <img src="{{ pokemonList[index].sprites.front_default }}" />
  <button (click)="nextQuestion()">Next</button>
</div>

<!-- <div class="ball2">
  <img src="url('../../assets/ball.png')" alt="" />
</div> -->
<div class="ballbounce"></div>

<div class="ballthrow"></div>
