main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('../../assets/pokemon-nature-background-2.jpg');
  background-size: cover;
  background-position: center;
}

#scoreBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

#pokemonCounter, #wrongAnswerCounter {
  margin: 10px;
  padding: 5px 10px;
  font-weight: bold;
}

#pokemonCounter {
  background: rgba(244, 226, 147, 0.767);
}

#wrongAnswerCounter {
  background: rgba(112, 112, 112, 0.767);
}

.number {
  display: block;
}

#questionContainer {
  background: white;
  box-shadow: 0px 0px 10px 0px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 75%;
  height: 50%;
}

#choicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pokemonImageContainer {
  /* flex-grow: 2; */
}

#pokemonImage {
  height: 300px;
  margin-top: 100px;
}

/* Ball object to be animated */
.ballbounce {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ff5722;

  /* Ball animation */

  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes ball-bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 200px, 0);
  }
}

/* Prefix Support */
ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 10px, 0);
  }
}
