body {
  display: flex;
  justify-content: center;
}

/* Ball object to be animated */
.ballthrow {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.ballbounce {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ff5722;

  /* Ball animation */

  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes ball-bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100px, 0);
  }
}

@keyframes crescendo {
  0%   {transform: scale(.1);}
  50%   {transform: scale(.5);}
  100% {transform: scale(1.5);}
}

/* Prefix Support */
/* ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  -webkit-animation-iteration-count: infinite;
} */

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 50px, 0); /* Adjust how high ball bounces */
  }
}
