<main>
  <div id="scoreBox">
    <p id="pokemonCounter">
      Pokemon caught: <span class="number">{{ numberCorrect }}</span>
    </p>
    <p id="wrongAnswerCounter">
      Number wrong: <span class="number">{{ numberWrong }}</span>
    </p>
  </div>
  <div id="questionContainer">
    <form
      id="questionForm"
      #questionForm="ngForm"
      (ngSubmit)="checkAnswer(questionForm, index)"
    >
      <h3 id="question">{{ questionList[index].question_name }}</h3>
      <div id="choicesContainer">
        <input
          id="choice1"
          type="radio"
          name="choice"
          value="{{ questionList[index].choice_1 }}"
          ngModel
        /><label for="choice1" id="answerChoiceLabel">{{
          questionList[index].choice_1
        }}</label>
        <input
          id="choice2"
          type="radio"
          name="choice"
          value="{{ questionList[index].choice_2 }}"
          ngModel
        /><label for="choice2" id="answerChoiceLabel">{{
          questionList[index].choice_2
        }}</label>
        <input
          id="choice3"
          type="radio"
          name="choice"
          value="{{ questionList[index].choice_3 }}"
          ngModel
        /><label for="choice3" id="answerChoiceLabel">{{
          questionList[index].choice_3
        }}</label>
        <input
          id="choice4"
          type="radio"
          name="choice"
          value="{{ questionList[index].choice_4 }}"
          ngModel
        /><label for="choice4" id="answerChoiceLabel">{{
          questionList[index].choice_4
        }}</label>
      </div>
      <button id="throwButton">
        <img src="../../assets/pokeball-icon.png" />
        Throw Pokeball!
      </button>
    </form>
    <div *ngIf="isWrong" id="correctAnswer">
      <p>Oh No! The Pokemon got away!</p>
      <p>
        Correct answer:
        <span id="answer">{{ questionList[index].answer }}</span>
      </p>
    </div>
    <div *ngIf="isCorrect" id="caughtAlert">
      <p>Great job!</p>
      <p>
        You added <span id="pokemonName">{{ pokemonList[index].name }}</span> to
        your Pokedex!
      </p>
    </div>
  </div>
  <div id="pokemonImageContainer">
    <img
      @fadeOut
      *ngIf="!fade"
      id="pokemonImage"
      src="{{ pokemonList[index].sprites.front_default }}"
    />
    <img id="pokeball" @throwBall *ngIf="throw" src="../../assets/poke.png" />
  </div>
</main>
