<main>
  <div id="musicControls">
    <div *ngIf="pause" id="playButton" (click)="clickToPlayMusic()">
      <i class="fa fa-play"></i>
    </div>
    <div *ngIf="play" id="pauseButton" (click)="clickToPauseMusic()">
      <i class="fa fa-pause"></i>
    </div>
    <p>Control the music here!</p>
  </div>
  <div id="scoreBox">
    <p id="pokemonCounter">
      Pokemon caught <span class="number">{{ numberCorrect }}</span>
    </p>
    <p id="wrongAnswerCounter">
      Run aways <span class="number">{{ numberWrong }}</span>
    </p>
  </div>
  <div [ngClass]="{ greyedOut: isWrong || isCorrect }" id="questionContainer">
    <form
      id="questionForm"
      #questionForm="ngForm"
      (ngSubmit)="checkAnswer(questionForm, index)"
    >
      <h3 id="question">{{ questionList[index].question_name }}</h3>
      <div id="choicesContainer">
        <input
          id="choice1"
          type="radio"
          name="choice"
          value="{{ questionList[index].choice_1 }}"
          [(ngModel)]="choice"
        /><label for="choice1" id="answerChoiceLabel">{{
          questionList[index].choice_1
        }}</label>
        <input
          id="choice2"
          type="radio"
          name="choice"
          value="{{ questionList[index].choice_2 }}"
          [(ngModel)]="choice"
        /><label for="choice2" id="answerChoiceLabel">{{
          questionList[index].choice_2
        }}</label>
        <input
          id="choice3"
          type="radio"
          name="choice"
          value="{{ questionList[index].choice_3 }}"
          [(ngModel)]="choice"
        /><label for="choice3" id="answerChoiceLabel">{{
          questionList[index].choice_3
        }}</label>
        <input
          id="choice4"
          type="radio"
          name="choice"
          value="{{ questionList[index].choice_4 }}"
          [(ngModel)]="choice"
        /><label for="choice4" id="answerChoiceLabel">{{
          questionList[index].choice_4
        }}</label>
      </div>
      <button
        [ngClass]="{ greyedOut: isWrong || isCorrect }"
        id="throwButton"
        [disabled]="!choice"
      >
        <img src="../../assets/pokeball-icon.png" />
        Throw Pokeball!
      </button>
    </form>
    <div *ngIf="isWrong" id="incorrectAlert">
      <p>Oh, no! The Pokemon got away!</p>
      <p>
        Correct answer:
        <span id="answer">{{ questionList[index].answer }}</span>
      </p>
    </div>
    <div *ngIf="isCorrect" id="caughtAlert">
      <p>Great job!</p>
      <p>
        You added <span id="pokemonName">{{ pokemonList[index].name }}</span> to
        your Pokedex!
      </p>
    </div>
  </div>
  <div id="pokemonImageContainer">
    <img
      @fadeOut
      alt="Image of {{ pokemonList[index].name }}"
      *ngIf="!fade"
      id="pokemonImage"
      src="{{ pokemonList[index].sprites.front_default }}"
    />
    <img id="pokeball" @throwBall *ngIf="throw" src="../../assets/poke.png" />
  </div>
</main>
